.container {
  display: flex;
  justify-content: center;

}
.center {
  width: 930px;
  overflow: hidden;
}

.title {
  font-size: 25px;
  text-align: center;

}

.text {
  text-align: center;
  
}
}

.text-box {
  background-color: #ffffff;
  padding: 2px;
  border: 1px solid #000000;
  border-radius: 5px;

}

.color-palette{
  overflow: hidden;;
  padding: 5px;
    border: 1px solid #000000;
}

.color-palette > div {
  text-align: center;
  padding: 10px;
  float: left;
  margin: 5px;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 150px;
  height: 150px;
  box-shadow: 5px 5px 10px #000000;
}
